.heading {
  margin-top: 155px;
  margin-bottom: 60px;

  @include media-breakpoint-down(lg) {
    margin-top: 147px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 110px;
    margin-bottom: 40px;
  }

  .content {
    max-width: 1000px;
    margin: auto;
    text-align: center;

    .breadcrumbs {
      @include vc-breadcrumbs($vc-primary, $vc-text-dark);
    }

    h1 {
      @include vc-general-h1($vc-text-dark);

      .line {
        padding-bottom: 0.1em;
      }
    }
  }
}

@at-root body.dark-mode .heading {
  h1, .breadcrumbs span {
    color: $vc-text-light !important;
  }
}