.main-menu {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1600px;
  margin: auto;
  transition: $vc-transition-all;

  @include media-breakpoint-down(md) {
    align-items: flex-start;
    padding: 10px 0;
  }

  .logo {
    margin-right: 20px;
    cursor: pointer;

    svg {
      transition: $vc-transition-all;
      width: 180px;
      height: auto;

      > path:nth-of-type(7),
      > path:nth-of-type(8),
      > path:nth-of-type(9),
      > path:nth-of-type(10),
      > path:nth-of-type(11),
      > path:nth-of-type(12),
      > path:nth-of-type(13),
      > path:nth-of-type(14),
      > path:nth-of-type(15),
      > path:nth-of-type(16) {
        visibility: hidden;    /* keep in DOM so DrawSVGPlugin can measure */
        fill: none;            /* we’ll assign the fill colour in JS */
        stroke: #EF3E36;       /* outline matches your brand colour */
        stroke-width: .5;       /* adjust stroke weight as needed */
        fill-opacity: 0;       /* ensure no fill until JS sets it */
        stroke-opacity: 1;     /* start fully opaque stroke */
      }

      @include media-breakpoint-between(md, lg) {
        width: 150px;
      }

      @include media-breakpoint-down(md) {
        width: 80px;
      }
    }
  }

  nav {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 20px;
      align-items: center;

      li {
        display: inline-block;

        &.current-menu-item a {
          color: $vc-primary;
          font-weight: $vc-semi-bold;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        a {
          text-decoration: none;
          @include vc-body($vc-text-dark);
          font-weight: $vc-semi-bold;

          &:hover {
            color: $vc-primary !important;
            cursor: pointer;
          }
        }
      }
    }

    .menu-button a {
      @include vc-button($vc-primary);
      cursor: pointer !important;
    }
  }

  .mobile-menu-icons {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    > div {
      height: 24px;
      width: 24px;
    }

    @include media-breakpoint-down(md) {
      > div {
        height: 20px;
        width: 20px;
      }
    }

    .close {
      display: none;
    }
  }
}