.main-menu {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1600px;
  margin: auto;
  transition: $vc-transition-all;

  @include media-breakpoint-down(md) {
    padding: 20px 0;
  }

  .logo {
    margin-right: 20px;

    svg {
      transition: $vc-transition-all;
      width: 180px;
      height: auto;

      @include media-breakpoint-between(md, lg) {
        width: 150px;
      }

      @include media-breakpoint-down(md) {
        width: 100px;
      }
    }
  }

  nav {
    @include media-breakpoint-down(lg) {
      display: none;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      gap: 20px;
      align-items: center;

      li {
        display: inline-block;

        &.current-menu-item a {
          color: $vc-primary;
          font-weight: $vc-semi-bold;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        a {
          text-decoration: none;
          @include vc-body($vc-text-dark);
          font-weight: $vc-semi-bold;

          &:hover {
            color: $vc-primary !important;
            cursor: pointer;
          }
        }
      }
    }

    .menu-button a {
      @include vc-button($vc-primary);
      cursor: pointer !important;
    }
  }

  .mobile-menu-icons {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    > div {
      height: 24px;
      width: 24px;
    }

    .close {
      display: none;
    }
  }
}