.mobile-menu {
  display: none;
  background-color: $vc-background-white;
  position: absolute;
  top: 92çpx;
  left: 0;
  height: calc(100vh - 46px);
  width: 100%;
  z-index: 99;
  transition: background 0.3s;

  @include media-breakpoint-down(md) {
    top: 40px;
    height: calc(100vh - 40px);
  }

  .menu-theme-mobile {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    .theme-toggle {
      margin-bottom: 5px;
    }
  }

  nav {
    width: 100%;
    margin-top: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      a {
        text-decoration: none;
        font-family: $vc-font-family;
        font-weight: $vc-bold;
        font-size: 30px;
        color: $vc-text-dark;
        opacity: 1;
        transition: $vc-transition-all;

        @include media-breakpoint-down(md) {
          font-size: 25px;
        }

        &:hover {
          color: $vc-primary !important;
          cursor: pointer;
        }
      }

      .menu-button a {
        @include vc-button($vc-primary);
        width: 100%;
        text-align: center;
        cursor: pointer !important;
        margin-top: 20px;
      }
    }
  }
}

@at-root body.dark-mode .mobile-menu {
  background: $dark-vc-background-dark !important;

  nav a {
    color: $vc-text-light !important;
  }
}