.hero {
  position: relative;
  overflow: hidden;

  .row {
    height: 100vh;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-family: $vc-font-family;
      font-weight: $vc-bold;
      font-size: 69px;
      margin-bottom: 20px;
      color: $vc-text-dark;
      opacity: 1;

      @include media-breakpoint-down(xl) {
        font-size: 50px;
        margin-bottom: 10px;
      }

      .spark svg {
        position: absolute;
        left: -34px;
        top: 29px;
        width: 60px;
        height: 60px;
        transform: rotate(352deg);

        @include media-breakpoint-down(xl) {
          left: -37px;
          top: 14px;
        }

        @include media-breakpoint-down(lg) {
          width: 45px;
          height: 45px;
          left: -26px;
          top: 21px;
        }

        path {
          stroke: $vc-primary;
          stroke-width: 1;
          fill: transparent;
          stroke-linecap: round;
        }
      }

      span.red {
        color: $vc-primary;
        position: relative;
        display: inline-block;
      }
    }

    .dynamic-text {
      display: inline-block;
      overflow: hidden;
      height: 1.25em;
      line-height: 1.25em;
      position: relative;
      margin-bottom: -13px;
    }

    .word {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      white-space: nowrap;
      opacity: 0;
      visibility: visible;
      overflow: hidden;
    }

    .word:first-child {
      transform: translateY(0);
    }

    .split-text-hero {
      @include vc-p($vc-text-dark);
      margin-bottom: 20px;
      opacity: 0;
      will-change: transform;

      & * {
        will-change: transform;
      }

      @include media-breakpoint-up(lg) {
        width: 75%;
      }
    }

    .button {
      @include vc-button-big($vc-primary);
      cursor: pointer !important;

      &:hover {
        background: $vc-background-white;
      }
    }
  }

  .graphic {
    position: relative;
    z-index: -1;
    height: 100%;
    position: absolute !important;
    right: -550px;
    top: 0;
    width: 100%;

    @include media-breakpoint-down(xl) {
      right: -450px;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }

    //height: 1000px;
    //
    //img {
    //  position: absolute;
    //  left: 0;
    //  bottom: 0;
    //}
  }
}