@mixin dc-button($color, $hover-color) {
  font-family: $dc-body;
  font-weight: $dc-semi-bold;
  background-color: $color;
  color: $dc-text-light;
  padding: 10px 23px;
  transition: $dc-transition-all;
  border: none;
  text-decoration: none;
  display: block;
  width: fit-content;
  font-size: 14px;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }

  &:hover {
    background-color: $hover-color;
  }
}

@mixin dc-button-secondary($color, $hover-color) {
  font-family: $dc-body;
  font-weight: $dc-semi-bold;
  background-color: $dc-background-off-white;
  color: $color;
  padding: 10px 23px;
  transition: $dc-transition-all;
  border: 2px solid $color;
  text-decoration: none;
  display: block;
  width: fit-content;
  font-size: 14px;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }

  &:hover {
    color: $hover-color;
    border-color: $hover-color;
  }
}

@mixin tag($color) {
  font-family: $dc-heading;
  font-weight: $dc-semi-bold;
  font-size: 14px;
  margin-bottom: 10px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

@mixin term($color) {
  font-family: $dc-heading;
  font-weight: $dc-semi-bold;
  font-size: 14px;
  margin-bottom: 10px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

@mixin dc-h1($color) {
  font-family: $dc-heading;
  font-weight: $dc-bold;
  font-size: 56px;
  margin-bottom: 20px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 45px;
  }
}

@mixin dc-h3($color) {
  font-family: $dc-heading;
  font-weight: $dc-bold;
  font-size: 48px;
  margin-bottom: 20px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }
}

@mixin dc-h4($color) {
  font-family: $dc-heading;
  font-weight: $dc-bold;
  font-size: 28px;
  margin-bottom: 20px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 24px;
  }
}

@mixin dc-p($color) {
  font-family: $dc-body;
  font-size: 14px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 12px;
  }
}

@mixin dc-p-heading($color) {
  font-family: $dc-heading;
  font-weight: $dc-bold;
  font-size: 18px;
  color: $color;
  opacity: 1;

  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
}

@mixin dc-blockquote($color) {
  font-family: $dc-body;
  font-weight: $dc-medium;
  color: $color;
  font-style: italic;
  border-left: 3px solid $dc-primary;
  padding-left: 10px;

  p {
    font-size: 16px;
  }

  @include media-breakpoint-down(lg) {
    p {
      font-size: 14px;
    }
  }
}

@mixin mobile-1280 {
  @media (max-width: 1280px) {
    @content;
  }
}