// Boostrap Override
:root {
  --bs-body-bg: #F5F5F5;
}

// Typography
$vc-font-family: "Poppins", serif;

$vc-light: 300;
$vc-normal: 400;
$vc-medium: 500;
$vc-semi-bold: 600;
$vc-bold: 700;

// Colors
$vc-background-white: #F5F5F5;
$vc-background-dark: #121212;
$vc-text-light: #F5F5F5;
$vc-text-dark: #121212;
$vc-primary: #FF3B30;
$vc-secondary: #FF4500;

//Other
$vc-transition-all: all .3s;

