@use "sass:math";

// Fonts
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

// Mixins
@import 'mixins';

:root {
  --app-height: 100%;
}

#wrapper {
  position: relative;
  display: flow-root;
}

.no-scroll {
  overflow: hidden;
}

@import "components/misc/mouse-cursor";
@import "components/misc/firework-effect";

// Components
@import "components/header/header";

@import "components/homepage/homepage";
@import "components/default-page/default-page";
@import "components/404/404";
@import "components/contact-us/contact-us";

@import "components/content/post/post";

@import "components/archive/blog/blog";
@import "components/archive/category-term/category-term";

@import "components/footer/footer";
