header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background: $vc-background-white;
  transition: all .75s;
  top: -102px;

  @import "components/desktop";
  @import "components/mobile";

  //&.scrolled .main-menu {
  //  padding: 22px 0;
  //
  //  .logo svg {
  //    width: 145px;
  //  }
  //}
}